#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.gallery-image {
    margin: 10px;
}

.gallery-item {
    position: relative;
    margin: 5px;
    flex: 1 1 300px;
    overflow: hidden;
}

.gallery-item img:hover {
    transform: scale(1.2);
}
